<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Guess Number</title>
      <link rel="stylesheet" href="C:\Users\ssdev\OneDrive\Desktop\Guessthenumber\css\guess_number_style.css">
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   </head>
   <body>
    <div id="container">
      <header>
        <h1><strong>Guess Number</a></strong></h1>
      </header>
        <div class="wrapper">
          <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label>Enter Number</label>
          </div>
      </div><br>
     
      <div id="container2">
          <button id="button" class="button">Enter</button>
      
      </div><br>
      
       <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-success">
                               <span class="glyphicon glyphicon-ok"></span> <strong style="color: white;">Success Message</strong>
               <button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="float: right;">
                    ×</button>
                <hr class="message-inner-separator">
                <p style="color: white;">
                    You successfully read this important alert message.</p>
            </div>
        </div>
        
        
        
    </div>
</div>
    </div>
   </body>
</html>